body {
    display: flex;
		flex-direction: column;
		gap: 50px;
    margin: 0;
		margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rows {
    display: flex;
    flex-grow: 1;

}

.squares {
    width: 60px;
    height: 60px;
    flex-grow: 1;
		border: 1px;
		border-style: solid;
		border-color: blue;
		background-color: black;
		
}

.squares:hover {
	background-color: white;
}

button {
	height: 35px;
	width: 125px;
}