body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #432616;
}

button {
  height: 40px;
  width: 100px;
}

.squares {
  background-color: white;
  border: 1px solid orange;
}

#container {
  display: flex;
  flex-direction: column;
  height: 960px;
  width: 960px;
}

.rows {
  display: flex;
}

.hover {
  background-color: black;
}
